#all{
	margin:auto;
	width: 750px;
}

#footer {
	text-align:center;
	width: 750px;
	height: auto;
	font-size:small;
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	background-image: url(../images/down.jpg);


}

div.scroller {
	/* modify width and height of scrolling section if necessary	*/		
	width: 750px;
	height: 650px;
	overflow: hidden;
	border:1px solid #cccccc;
	}
	div.scroller div.section {
		/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
		width:750px;
		height:650px;
		overflow:hidden;
		float:left;
		padding:1em;		
		}
	div.scroller div.content {
		width: 10000px;
		}

	div#section2 {
		background:#666666;
		color:#ffffff;
		}
